<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" >

    <!--网络权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.hqumath.tcp.app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <!--屏幕适配，最小宽度-->
        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />

        <!--configChanges写全
        "orientation" 屏幕方向改变
        "screenSize" 屏幕大小改变
        "smallestScreenSize" 物理屏幕尺寸发生变更
        "screenLayout" 屏幕的显示发生变化
        "navigation" 导航发生了变化
        "keyboard" 键盘发生了改变
        "keyboardHidden" 键盘的可用性发生了改变
        "touchscreen" 触摸屏改变
        "fontScale"	字体比例发生变化
        "locale" 所在地区发生变化-->

        <activity
            android:name="com.hqumath.tcp.ui.main.MainActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|navigation|keyboard|keyboardHidden|touchscreen|fontScale|locale"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>